name: Link Bot

on:
  workflow_dispatch:
  schedule:
    - cron: "*/5 * * * *"   # каждые 5 минут

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 2

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          RPC_URL: ${{ secrets.RPC_URL }}
        run: node bot.js
